html,
body,
.wrapper {
  height: 100%;
}
.content {
  box-sizing: border-box;
  min-height: calc(100% - 90px);
}

.footer {
    background-color: #f8f8f8;
    height: 65px;
}
footer {
    padding-top: 12px;
}

.navbar-brand span {
    font-family: Zain, sans-serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 30px;
    margin-top: 4px;
    display: inline-block;
}
.navbar-brand img {
    margin-top: -17px;
}
.request-params {
    display: inline-block;
    margin-left: 10px;
}

#response-div {
    margin-top: 50px;
}

#response-json {
    padding: 10px 14px;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    margin: 0;
    font-size: 12px !important;
}

#response-json-col {
    background: #f8f9fa;
    border-left: 1px solid #dee2e6;
}
